/*
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

/* For the Rating Thumbnail =================================== */
/* Text */
.rating-text {
  font-size: 4em;
  color: black;
}

/* Container holding the image and the text */
.container-rating {
  position: relative;
  text-align: center;
  color: white;
  height: 200px;
  width:200px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Tooltip */
/* Tooltip container */
.tooltip-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  width: auto;
}

/* Tooltip text */
.tooltip-container .tooltiptext {
  visibility: hidden;
  width: 25rem;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 5px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 105%;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltiptext {
  visibility: visible;
}


/* Flexbox  */
.wrapper {
    display: flex;
}

.wrapper > div {
    flex: 1;
}

.box2 {
  align-content: center;
  font-size: 5rem;
  text-align: center;
}

.ratingheading {
  font-size: 150%;
}
