<div class="w-full px-2 lg:max-w-full lg:flex mt-3 lg:px-0 hover4">
    {{ if .Params.image }}
    <img alt="thumbnail" id="thumb" class="lg:{{ .Site.Params.post.thumbnail_width }} lg:{{ .Site.Params.post.thumbnail_height }}" src="{{ .Params.image | relURL }}" />
    {{/* Render Colored Boxes Corresponding with Scores */}}
    {{ else if eq (gt .Params.rating 0) (le .Params.rating 39) }}
    <div class="container-rating">
      <div class="container-rating" style = "background-color:red;">
    <div class="centered rating-text">{{.Params.rating}}</div>
    </div>
    {{ else if eq (gt .Params.rating 39) (le .Params.rating 59) }}
    <div class="container-rating">
      <div class="container-rating" style = "background-color:orange;">
    <div class="centered rating-text">{{.Params.rating}}</div>
    </div>
    {{ else if eq (gt .Params.rating 59) (le .Params.rating 79) }}
    <div class="container-rating" style = "background-color:yellow;">
    <div class="centered rating-text">{{.Params.rating}}</div>
    </div>
    {{ else if eq (gt .Params.rating 79) (le .Params.rating 100) }}
    <div class="container-rating">
      <div class="container-rating" style = "background-color:green;">
    <div class="centered rating-text">{{.Params.rating}}</div>
    </div>
    {{ else }}
    <img alt="thumbnail" id="thumb" class="lg:{{ .Site.Params.post.thumbnail_width }} lg:{{ .Site.Params.post.thumbnail_height }}" src="{{ "/img/default.jpg" | relURL }}">
    {{ end }}
    <div
        class="bg-white pl-4 p-2 justify-between leading-normal max-w-full w-full">
            <p class="text-sm text-gray-600 flex items-center">
                <time><span class="icon-access_time mr-1"></span>{{.Date.Format "2006/01/02"}}</time>
            </p>
            <div class="text-gray-900 font-bold text-xl mb-2">{{.Title}}</div>
            {{/* Summary to Reviewed by */}}
            {{ if in .Params.categories "Review" }}
            <p class="text-gray-700 text-base">Reviewed by {{ .Params.author }}</p>
            {{ else if .Params.summary }}
            <p class="text-gray-700 text-base">{{ substr .Params.summary 0 130 | plainify }}...</p>
            {{ else }}
            <p class="text-gray-700 text-base">{{ substr .Summary 0 130 | plainify }}...</p>
            {{ end }}

    </div>
</div>
